In [ ]:
# 5) Divide a student table having their marks into 4 equal marks groups (quartiles) and show their details.

In [ ]:
WITH QuartileDetails AS (
    SELECT 
        studentname, 
        marks,
        (SELECT COUNT(*) FROM table) AS totalstudents,
        (SELECT PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY marks) FROM table) AS quartile_1boundary,
        (SELECT PERCENTILE_CONT(0.50) WITHIN GROUP (ORDER BY marks) FROM table) AS quartile_2boundary,
        (SELECT PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY marks) FROM table) AS quartile_3boundary
    FROM table
)
SELECT 
    studentname, 
    marks,
    CASE 
        WHEN marks <= quartile_1boundary THEN 'Quartile 1'
        WHEN marks <= quartile_2boundary THEN 'Quartile 2'
        WHEN marks <= quartile_3boundary THEN 'Quartile 3'
        ELSE 'Quartile 4'
    END AS quartile
FROM QuartileDetails;