In [1]:
import numpy as np
import pandas as pd

In [9]:
weather_df = pd.DataFrame({'City': ['london', 'london','london' , 'london' , 'paris' , 'paris', 'paris','paris'],
                           'Season': ['fall', 'winter' ,'spring', 'summer' , 'fall', 'winter' ,'spring', 'summer'],
                           'Temperature': [68,94,103,21,46,86,26,70]})
weather_df

     City  Season  Temperature
0  london    fall           68
1  london  winter           94
2  london  spring          103
3  london  summer           21
4   paris    fall           46
5   paris  winter           86
6   paris  spring           26
7   paris  summer           70